.Menubar {
  background-color: #5a5a5a;
  color: white;
  padding: 15px;
  display: flex;
  align-items: center;
  border-collapse: collapse;
  justify-content:space-between;
}

.Menubar button {
  background-color: #7c0101;
  color: white;
  padding: 10px 20px;
  font-size: 18px;
  border: none;
  margin-left: 1px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center; /* Alinhamento vertical ao centro */
}

.Usuario {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.Usuario button {
  background-color: #7c0101;
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}

.Imagem {
  max-width: 150px;
  height: auto;
  margin-right: 20px;
}