body {
  margin: 0;
  background-color: #65a99b;
}

.Menubar {
  background-color: #5a5a5a;
  color: rgb(255, 255, 255);
  padding: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.Imagem {
  max-width: 150px;
  height: auto;
  margin-right: 20px;
}

span {
  color: rgb(255, 255, 255);
  margin-bottom: 10px; /* ou o valor desejado */
}

.explanation {
  background-color: #65a99b;
  color:whitesmoke;
  height: 300px;
  display: flex;
  justify-content: center; /* Alinhamento horizontal ao centro */
  align-items: center; /* Alinhamento vertical ao centro */
  border: 3px solid #000000; /* Adicione uma borda para visualização */
  margin: 0 auto; /* Adiciona margens automáticas para centralizar */
  max-width: 1200px; /* Define uma largura máxima para o conteúdo, ajuste conforme necessário */
}

.director {
  background-color: #65a99b;
  color:whitesmoke;
  height: 300px;
  display: flex;
  justify-content: center; /* Alinhamento horizontal ao centro */
  align-items: center; /* Alinhamento vertical ao centro */
  border: 3px solid #000000; /* Adicione uma borda para visualização */
  margin: 0 auto; /* Adiciona margens automáticas para centralizar */
  max-width: 1200px; /* Define uma largura máxima para o conteúdo, ajuste conforme necessário */
}
/* Estilos para o botão */

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
