body {
  margin: 0;
}

.App {
  text-align: center;
}

.Menubar {
  background-color: #5a5a5a;
  color: white;
  padding: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.Imagem {
  max-width: 150px;
  height: auto;
  margin-right: 20px;
}

.essential {
  background-color: #0019f8;
  color:whitesmoke;
  height: 300px;
  display: flex;
  justify-content: center; /* Alinhamento horizontal ao centro */
  align-items: center; /* Alinhamento vertical ao centro */
  border: 1px solid #ccc; /* Adicione uma borda para visualização */
  margin: 0 auto; /* Adiciona margens automáticas para centralizar */
  max-width: 1200px; /* Define uma largura máxima para o conteúdo, ajuste conforme necessário */
}

.additional {
  background-color: #2439f8;
  color:whitesmoke;
  height: 300px;
  display: flex;
  justify-content: center; /* Alinhamento horizontal ao centro */
  align-items: center; /* Alinhamento vertical ao centro */
  border: 1px solid #ccc; /* Adicione uma borda para visualização */
}

.explanation {
  background-color: #4154fd;
  color:whitesmoke;
  height: 300px;
  display: flex;
  justify-content: center; /* Alinhamento horizontal ao centro */
  align-items: center; /* Alinhamento vertical ao centro */
  border: 1px solid #ccc; /* Adicione uma borda para visualização */
  margin: 0 auto; /* Adiciona margens automáticas para centralizar */
  max-width: 1200px; /* Define uma largura máxima para o conteúdo, ajuste conforme necessário */
}

.director {
  background-color: #6674f0;
  color:whitesmoke;
  height: 300px;
  display: flex;
  justify-content: center; /* Alinhamento horizontal ao centro */
  align-items: center; /* Alinhamento vertical ao centro */
  border: 1px solid #ccc; /* Adicione uma borda para visualização */
}
/* Estilos para o botão */
button {
  background-color: #7c0101; /* Cor de fundo do botão */
  color: white; /* Cor do texto do botão */
  padding: 10px 20px; /* Espaçamento interno do botão */
  font-size: 16px; /* Tamanho da fonte do botão */
  border: none; /* Remove a borda padrão do botão */
  cursor: pointer; /* Adiciona um cursor indicando que o botão é clicável */
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
